<a href="https://colab.research.google.com/github/VasanthMurugan10701/techa_training/blob/main/train_tech.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num1 = int(input("num1:"))
print(num1)
num2 = int(input("num2:"))
print("product: ",num1*num2)

num1:2
2
num2:3
product:  6

In [ ]:
num1 = int(input("What is the first number: ") )
num2 = int(input("What is the second number: "))
print("product:",num1*num2)

What is the first number: 2
What is the second number: 5
product: 10

In [ ]:
name1=(input("enter your name"))
print(len(name1))

enter your namevasan
5

In [ ]:
print("a: " + a) print("b: " + b)

SyntaxError: invalid syntax (<ipython-input-18-e70e404e6097>, line 1)

In [ ]:
a = input()
b = input()
print("a: "+a+b)

9
8
a: 98

In [ ]:
w = int(input("weight: "))
h = float(input("height"))
# Using the exponent operator **
BMI = w / h ** 2
# or using multiplication and PEMDAS
bmi = w / (h * h)

bmi = int(bmi)
print(bmi)

weight: 61
height5.6
1

In [1]:
year = int(input())

if year % 4 == 0:
  if year % 100 == 0:
    if year % 400 == 0:
      print("Leap year")
    else:
      print("Not leap year")
  else:
    print("Leap year")
else:
  print("Not leap year")

898
Not leap year

In [ ]:
import array
a = array.array('i', [2, 4, 5, 6, 10])
print('The integer array elements are :')
for element in a:
print(element, end = ' ')

The :
2 4 5 6 10

In [ ]:
import array as ar
import numpy as np
a = ar.array('f', [2.2, 4.6, 5.0, 6.7, 10.100])
a1 = np.round(a, 2)
print()
print('The float array elements are :')
for element in a1:
   print(element, end = ' ')

The float array elements are :
2.2 4.6 5.0 6.7 10.1

In [ ]:
import array
a = array.array('u', ['b', 'd', 'f', 'h', 'z'])
print('The character array elements are :')
for element in a:
  print(element, end = ' ')

The character array elements are :
b d f h z

In [ ]:
import array as ar
arr1 = ar.array('f', [2.2, 4.6, 5.0, 6.7, 10.0])
# use the same type code and multiply each element of arr1 with 3
arr2 = array(arr1.typecode, (a*3 for a in arr1))
arr3 = np.round(arr2, 2)
print()
print('The array3 elements are :')
for element in arr3:
 print(element, end = ' ')

The array3 elements are :
6.6 13.8 15.0 20.1 30.0

In [ ]:
def snakePattern(matrix):
    n = len(matrix)
    result = []
    for i in range(n):
        if i % 2 == 0:
            result.extend(matrix[i])
        else:
            result.extend(matrix[i][::-1])
    return result
matrix=[[45,48,54],[21,89,87],[70,78,15]]
result=snakePattern(matrix)
print(result)

[45, 48, 54, 87, 89, 21, 70, 78, 15]

In [ ]:
def snakePattern(matrix):
    n = len(matrix)
    result = []
    for i in range(n):
        if i % 2 != 0:
            result.extend(matrix[i])
        else:
            result.extend(matrix[i][::-1])
    return result
matrix=[[45,48,54],[21,89,87],[70,78,15]]
result=snakePattern(matrix)
print(result)

[54, 48, 45, 21, 89, 87, 15, 78, 70]

**LINKED LIST**

In [ ]:
class Node:
  def __init__(self,data):
    self.data = data
    self.next = None
def push(head_ref, new_data):
      new_node = Node(new_data)
      new_node.next = (head_ref)
      return new_node
def appened(head_ref,new_data):
        new_node = Node(new_data)
        if head_ref is None:
         return new_node
        last = head_ref
        while (last.next):
          last = last.next
        last.next = new_node
        return head_ref
def insertAtFront(head_ref,new_data):
  new_node = Node(new_data)
  new_node.next = head_ref
  return new_node
def removalFistNode(head_ref):
  if not head:
    return None
  temp = head
  head = head.next
  temp = None
  return head
def printList(node):
    while node:
      print(node.data,end="")
      node = node.next

if __name__ == "__main__":
     head = None
     head = push(head, 1)
     head = push(head, 2)
     head = push(head, 3)
     printList(head)
     head = insertAtFront(head,12)
     printList(head)
     head = appened(head,13)
     printList(head)
     head = appened(head,33)
     print("Created Linked list is:")
     printList(head)

321123211232113Created Linked list is:
123211333